<%= content_for(:title, "診断結果") %>
<%= content_for(:description, "診断結果") %>
<div id="main">
  <%= form_with url: "#", method: :patch, local:true do |f| %>

    <div class="row">
      <div class="col-12">
        <div class="card bg-light">
          <div class="card-header">旅人におすすめのキャラクターは</div>
          <div class="card-body">
            <p class="card-text"><%= @character.name %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row mt-5">
      <div class="col-12">
        <!--シェアボタン-->
        <div class="share-bottom">
          <%= link_to "https://twitter.com/share?url=#{ request.url }&text=旅人におすすめのキャラクターは%0a『#{ @character.name }』%0a", target: '_blank' do %>
            <i class="fab fa-twitter"></i>&nbsp;結果をシェア
          <% end %>
        </div>
        <%= link_to("もう一度ゲームする", root_path, class: "btn btn-lg btn btn-outline-info btn-block")  %>
      </div>
    </div>
  <% end %>
</div>
