<!DOCTYPE html>
<html>
  <head>
    <title>Pimon-oshi-refinor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- ogp -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content="<%= full_title(yield(:title)) %>" />
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:description"
      content="<%= content_for?(:description) ? yield(:description) : 'あなたにぴったりの原神キャラクターを診断します' %>" />
    <meta property="og:image"
      content="/assets/paimon.png" />
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="container text-center">
      <header class="row mb-3">
        <div class="col-12">
          <%= image_tag 'title.png', {width: 300} %>
          <br>
          <%= image_tag 'paimon.png', {width: 200} %>
        </div>
      </header>
      <main class="row">
        <div class="col-8 offset-2">
          <%= yield %>
        </div>
      </main>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
